<div class="container">
    <section class="section">
        <div class="container has-text-centered">

            <h1 class="title">Welcome to Memory Builder</h1>
            <h2 class="subtitle">Extend Your Memory</h2>

            <img src="../assets/images/memory-builder-icon.png"/>

            <br>
            <router-outlet></router-outlet>
        </div>
    </section>

    <app-memory-game></app-memory-game>

    <br><footer class="footer">
        <div>Powered by <a href="http://heerden.com" target="_blank">Heerden.com</a></div>
        <div><a href="https://github.com/heerden/memory-builder" target="_blank">Angular code on Github</a></div>
        <div>Version 1.2.1</div>
    </footer>
</div>
