<div class="container">
    <div class="hero is-primary">
        <div class="hero-body">

        <h1 class="title">Welcome to Memory-Builder.com</h1>
        <h2 class="subtitle">Helping you to improve and extend your memory</h2>

        <br>
        <router-outlet></router-outlet>
        </div>
    </div>

    <app-memory-game></app-memory-game>

    <footer class="footer">
        <div>Powered by <a href="https://heerden.com" target="_blank">Heerden.com</a></div>
        <div><a href="https://github.com/heerden/memory-builder" target="_blank">Angular code on Github</a></div>
    </footer>
</div>