:host, div {
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
    display: block;

    height: 100%;
    width: 100%;
    //border: 1px solid black;
    //align-items: center;
    //justify-content: center;
}
