<app-select-grid></app-select-grid>

<br>

<div *ngIf="round == 0">
    <p-button (click)="startGameButton()" label="Start Blocks"></p-button>
</div>
<div *ngIf="round > 0">
    <p-button (click)="nextRoundButton()" label="Next Blocks"></p-button>
    Round {{round}}. {{activeMessageValue()}}
</div>

<div *ngIf="round == 0">
    <p>Drag and drop the colour boxes to the grid below when the game starts.</p>
    <app-settings></app-settings>
</div>

<br>

<div *ngIf="round > 0">
    <app-memory-grid></app-memory-grid>
</div>

<br>

<div *ngIf="round > 0">
    <p-button (click)="restartButton()" label="Restart"></p-button>
</div>
