<div class="container">
    <div class="notification is-info">
        Remember the sequence of blocks and build then out as it grows. Drag and drop the colour blocks to the question grid.
        <span class="delete"></span>
    </div>
    <div class="notification is-warning">
        Note: Currently only working on desktop browsers.
        <span class="delete"></span>
    </div>

    <div class="columns has-text-centered">
            <div class="column">
                <div class="box">
                    <p class="heading">Status</p>
                    <p class="title">{{statusMessageValue()}}</p> 
                </div>    
            </div>
        <div class="column">
            <div class="box" *ngIf="round > 0">
                <div class="heading">Round</div>
                <div class="title">{{round}}</div>
            </div>
        </div>
        <div class="column">
            <div class="box" *ngIf="round > 0">
                <p *ngIf="memIntervalValue() > 0" class="heading">Memorise Time (s)</p>
                <p *ngIf="memIntervalValue() <= 0" class="heading">Penalty Time (s)</p>
                <p class="title">{{memIntervalValue()}}</p>
            </div>
        </div>
    </div>

    <app-select-grid></app-select-grid><br>

    <div *ngIf="round == 0">
        <p-button (click)="startGameButton()" label="Start"></p-button>
    </div>
    <div *ngIf="round > 0 && !isMemorisingValue()">
        <p-button (click)="nextRoundButton()" label="Next Round"></p-button>
    </div>
    <div *ngIf="round > 0 && isMemorisingValue()">
        <p-button (click)="startRoundButton()" label="Start Round"></p-button>
    </div>

    <div *ngIf="round == 0">
        <br><app-settings></app-settings>
    </div>

    <br>

    <div *ngIf="round > 0">
        <app-memory-grid></app-memory-grid>
    </div>

    <br>

    <div *ngIf="round > 0">
        <p-button (click)="restartButton()" label="Restart"></p-button>
    </div>
</div>
